@import "../../theme.scss";

.chat-desktop {
  display: flex;
}

.chat-list {
  height: calc(100vh - 95px);
  background-color: var(--background-dark);
  margin: 20px 10px;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: bold;
      font-size: 30px;
      margin-bottom: 5px;
    }

    i {
      font-size: 20px;
      cursor: pointer;
    }
  }

  .list {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;

    .no-chats {
      color: var(--text-light);
      margin: auto;
    }
  }
}

@media (max-width: 768px) {
  .chat-desktop {
    display: none;
  }

  .chat-mobile {
    padding: 10px;

    .chat-list {
      margin: 0;
      height: calc(100vh - 75px);
    }
  }
}

@media (min-width: 768px) {
  .chat-mobile {
    display: none;
  }
}