.post {
  background-color: var(--background-dark);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border: 1px solid var(--border);

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      .name-time {
        display: flex;
        flex-direction: column;

        .name {
          color: var(--text-dark);
          text-decoration: none;
          font-weight: 500;
        }

        span:nth-child(2) {
          color: var(--text-light);
          font-size: 12px;
        }
      }
    }

    .right {
      align-self: start;
      position: relative;

      .delete {
        position: absolute;
        right: 0px;
        display: flex;
        align-items: center;
        background-color: var(--red);
        padding: 5px 10px;
        border-radius: 5px;
        gap: 5px;
        font-size: 14px;
        cursor: pointer;

      }
    }

  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-wrap: anywhere;

    img {
      width: 100%;
      border-radius: 10px;
      max-height: 500px;
      object-fit: cover;
    }
  }

  .reactions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;

    .comment {
      cursor: pointer;
    }

    div {
      display: flex;
      align-items: center;
      gap: 10px;

      i {
        cursor: pointer;
      }


    }
  }
}