@import "../../variables.scss";

.register {
  background-color: var(--background-light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .card {
    background-color: var(--background-dark);
    border-radius: 15px;
    width: fit-content;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 500px;

    h1 {
      font-size: 50px;
      text-align: center;
      color: var(--text-dark);
    }

    input {
      border-radius: 5px;
      height: 30px;
      width: 200px;
      background-color: var(--background-inside);
      outline: none;
      padding: 10px;
      color: var(--text-dark);
      border: none;
      font-family: "Inter",
        sans-serif;
    }

    button {
      background-color: var(--blue);
      padding: 5px 20px;
      border-radius: 5px;
      color: var(--text-blue-button);
      cursor: pointer;
      border: none;
    }

    p {
      color: var(--text-light);
      margin-top: -2px;

      .link {
        color: var(--blue);
        text-decoration: none;
      }
    }
  }
}