@import "../../variables.scss";

.login {
  background-color: var(--background-light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .card {
    background-color: var(--background-dark);
    border: 1px solid var(--background-border);
    border-radius: 15px;
    width: fit-content;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    h1 {
      font-size: 50px;
      color: var(--text-dark);
    }

    input {
      border-radius: 5px;
      height: 30px;
      width: 200px;
      background-color: var(--background-inside);
      border: 1px solid var(--background-border);
      outline: none;
      padding: 10px;
    }

    button {
      background-color: var(--blue);
      border: 1px solid var(--border-blue);
      padding: 5px 20px;
      border-radius: 5px;
      color: var(--text-blue);
      cursor: pointer;
    }

    p {
      color: var(--text-light);
      margin-top: -2px;
    }
  }
}