@import "../../variables.scss";

.leftbar {
  background-color: var(--background-dark);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
  width: 250px;
  height: fit-content;
  position: sticky;
  top: 75px;
  margin-left: 10px;
  flex-grow: 1;
  flex-shrink: 0;
  border: 1px solid var(--border);

  img {
    width: 30px;
  }

  div {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    a {
      text-decoration: none;
      color: var(--text-dark);
    }

    i {
      font-size: 23px;
    }
  }

  .shortcuts {
    font-weight: bold;
    font-size: large;
    margin: 15px 0px;
  }

  .user {
    img {
      border-radius: 50%;
      height: 30px;
      object-fit: cover;
    }
  }
}

@media (max-width: 640px) {
  .leftbar {
    display: none;
  }
}

@media (max-width: 768px) {
  .leftbar {
    display: none;
  }
}

@media (max-width: 1024px) {}

@media (max-width: 1280px) {}

@media (max-width: 1536px) {}

@media (min-width: 1536px) {}