:root {
  --background-light: #FFFFFF;
  --background-dark: #F5F5F7;
  --background-inside: #EBEBEB;
  --border: #E8E8E8;
  --text-dark: #3E3E3E;
  --text-light: #B7B7B7;
  --blue: #0094FF;
  --text-blue-button: #ECECEC;
  --text-blue: #0094FF;
  --green: #5DD400;
  --red: #FF5151;
  --text-red-button: #C10000;
}

[theme="dark"] {
  --background-light: #000000;
  --background-dark: #161616;
  --background-inside: #242424;
  --border: #212121;
  --text-dark: #ECECEC;
  --text-light: #636363;
}