.comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: inherit;
  margin-top: 10px;

  // Start loader.

  .loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    color: var(--text-light);
    margin: auto;
    margin-top: 10px;
  }

  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }

  .loader:after {
    color: var(--text-inside);
    transform: rotateY(70deg);
    animation-delay: .4s;
  }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {

    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }

  // End loader.

  .error {
    color: var(--text-light);
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
  }

  .comment {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .content {
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow-wrap: anywhere;

      img {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        object-fit: cover;
        align-self: start;
        flex-shrink: 0;
      }

      .name-comment {
        display: flex;
        flex-direction: column;

        .name {
          font-weight: 500;
        }

        span {
          text-wrap: wrap;
        }
      }
    }

    .time {
      font-size: 12px;
      color: var(--text-light);
      flex-shrink: 0;
    }

  }

  .write {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10px;

    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
      border-radius: 50%;
    }

    textarea {
      width: 100%;
      background-color: var(--background-inside);
      border: none;
      border-radius: 5px;
      padding: 10px;
      resize: none;
      outline: none;
      color: var(--text-dark);
      font-family: "Inter", sans-serif;

    }

    button {
      background-color: var(--blue);
      color: var(--text-blue-button);
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;
    }
  }
}