@import "../../theme.scss";

.home {

  width: 500px;
  padding: 0px 20px;
  margin-top: 20px;
  flex-grow: 2;

  .write-post {
    background-color: var(--background-dark);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--border);
    margin-bottom: 20px;

    .top {
      display: flex;
      gap: 10px;
      border-bottom: 1px solid var(--border);
      padding-bottom: 10px;
      margin-bottom: 5px;
      justify-content: space-between;

      .left {
        display: flex;
        gap: 10px;

        img {
          height: 30px;
          width: 30px;
          object-fit: cover;
          border-radius: 50%;
        }

        textarea {
          width: 100%;
          height: 75px;
          resize: none;
          font-family: "Inter", sans-serif;
          padding: 5px;
          border-radius: 5px;
          border: none;
          background-color: var(--background-dark);
          outline: none;
          color: var(--text-dark);
        }
      }

      .right {
        img {
          border-radius: 10px;
          object-fit: cover;
          width: 70px;
          aspect-ratio: 1;
        }
      }
    }

    .bottom {
      display: flex;
      justify-content: space-between;

      .image {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        span {
          font-size: 12px;
        }

      }

      button {
        background-color: var(--blue);
        color: var(--text-blue-button);
        border: none;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  .posts {
    display: flex;
    flex-direction: column;
    align-items: center;

    // Start loader.

    .loader {
      transform: rotateZ(45deg);
      perspective: 1000px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      color: var(--text-light);
    }

    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }

    .loader:after {
      color: var(--text-inside);
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

    @keyframes rotate {
      0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
      }

      100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
      }
    }

    @keyframes rotateccw {
      0% {
        transform: translate(-50%, -50%) rotate(0deg);
      }

      100% {
        transform: translate(-50%, -50%) rotate(-360deg);
      }
    }

    @keyframes spin {

      0%,
      100% {
        box-shadow: .2em 0px 0 0px currentcolor;
      }

      12% {
        box-shadow: .2em .2em 0 0 currentcolor;
      }

      25% {
        box-shadow: 0 .2em 0 0px currentcolor;
      }

      37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
      }

      50% {
        box-shadow: -.2em 0 0 0 currentcolor;
      }

      62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
      }

      75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
      }

      87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
      }
    }

    // End loader.

    .message {
      color: var(--text-light);
    }
  }
}