.profile {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  gap: 10px;
  margin-top: 20px;
  width: 60%;

  // Start loader.

  .loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: var(--text-light);
    margin: auto;
    margin-top: 50%;
  }

  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }

  .loader:after {
    color: var(--text-inside);
    transform: rotateY(70deg);
    animation-delay: .4s;
  }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {

    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }

  // End loader.


  .images {
    display: flex;
    flex-direction: column;
    align-items: center;

    img:first-child {
      border-radius: 10px;
      object-fit: cover;
      height: 200px;
      width: 100%;
    }

    img:last-child {
      border-radius: 50%;
      object-fit: cover;
      width: 150px;
      height: 150px;
      border: 5px solid var(--border);
      z-index: 1;
      margin: -75px;
    }
  }

  .profile-container {
    background-color: var(--background-dark);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
    padding-top: 75px;
    border: 1px solid var(--border);

    .center {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      span {
        font-weight: bold;
        text-align: center;
      }

    }

    .left {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 10px;

      span {
        font-size: 12px;
      }
    }

    .right {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
    }

    div {
      flex: 1;
    }

    span {
      font-size: large;
    }

    button {
      background-color: var(--blue);
      border: none;
      color: var(--text-blue-button);
      padding: 5px 10px;
      border-radius: 5px;
    }
  }
}

@media (max-width: 640px) {
  .profile {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .profile {
    width: 100%;
  }
}